<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<div class="question-box">
  <%= @question %>
  <p><i>- You</i></p>
</div>

<div class="answer-box">
  <%= @answer %>
  <p><i>- Your coach</i></p>
</div>

<div class="link btn btn-success">
  <%= link_to "Ask another question", ask_path %>
</div>
